*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    background-color: #f5f7fa;
}

#navbar{
    width: 100%;
    height: 90px;
    background-color: #466A9F;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#navbar ul{
    list-style: none;
    display: flex;
    gap:30px;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    
}
#navbar ul li a:hover{
    color: #000000;
}

#navbar ul li a.active{
    color: #000000;
}

.hamburger-menu{
    position: absolute;
    top: 30px;
    right:30px;
    cursor:pointer;
    font-size:22px;
    color:white;
    z-index:100;
    padding: 8px;
    transition: all 0.3s ease;
    display: block;

}

.hamburger-menu:hover{
    color: #000000;
}

.dropdown-Content{
    display: none;
    position: absolute;
    top:90px;
    right:0px;
    min-width:200px;
    background-color:#466A9F;
    flex-direction:column;
    z-index:99;
}

.dropdown-Content a{
    color: white;
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom:1px solid white;
}
#dropdownMenu a.active{
    color: white;
    background-color: #2a446b;
}
.dropdown-Content a:hover{
    background-color: #000000;
    color: white;
}
.dropdown-Content.show{
    display: block;
}

.main-heading{
    padding: 30px 15%;
 
}
.search-section{
    display: flex;
    justify-content: center;
    border-radius: 3px;
    background-color: white;
    padding: 15px;
    gap:10px;
    margin: 20px 15%;
}
.search-input{
    flex:1;
    display: flex;
    align-items: center;
    gap:10px;
}

.search-input input,
.search-input select{
    width: 100%;
    padding: 15px 0;
    border: none;
    outline: none;
    background: #f5f7fa;
    font-size: 1rem;
    border-radius: 5px;
}
.search-input input::placeholder{
    color:black;
}

.search-btn{
    padding: 15px 25px;
    background-color: #466A9F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.search-btn:hover{
    background-color: #233f58;

    transition: all 0.3s ease;
}

.doctor-lists{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    margin: 20px 15%;
    gap:10px;

}
.doctor-card{
    background-color: white;
    border-radius: 15px;
    align-items: center;
    transition: transform 0.3s ease;
}
.doctor-card:hover{
    transform:translateY(-10px);
    cursor: pointer;
}
.doctor-img{
    width:100%;
    height: 220px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    position:relative;
    background-color: #bebebe;

}
.doctor-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.doctor-info{
    padding:20px;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doctor-info h3{
    font-size: 20px;
    margin: 10px 0;
}
.doctor-info p{
    font-size: 16px;
    color: #375d96;
    margin: 5px 0;
}
.doctor-specialty{
    font-weight: 600;
}

.book-appointment-btn{
    display:block;
    width:70%;
    padding: 10px;
    background-color: transparent;
    border:2px solid #466A9F;
    color: #263a57;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.book-appointment-btn:hover{
    background-color: #466A9F;
    color: white;
}

.modal{
    display:none;
    position: fixed;
    z-index: 100;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: white;
    margin: 5% auto;
    padding:30px;
    border-radius: 10px;
    width: 60%;
    position: relative;
}

#modalDoctorName, #modalDoctorSpecialty, #modalDoctorId{
    font-size: 16px;
    height: 40px;
    width: 250px;
    padding:10px;
    margin:25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.close{
    position: absolute;
    top:15px;
    right:20px;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}

.close:hover{
    color: #ff0000;
}

.modal-content h2{
    text-align: center;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input, textarea, select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea{
    resize: vertical;
    height: 100px;
}

.submit-btn {
    background-color: #466A9F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
        
.submit-btn:hover {
    background-color: #2b374b;
}