*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    background-color: #f5f7fa;
}

#navbar{
    width: 100%;
    height: 90px;
    background-color: #466A9F;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul{
    list-style: none;
    display: flex;
    gap:30px;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    
}
#navbar ul li a:hover{
    color: #000000;
}

#navbar ul li a.active{
    color: #000000;
}

.hamburger-menu{
    position: absolute;
    top: 30px;
    right:30px;
    cursor:pointer;
    font-size:22px;
    color:white;
    z-index:100;
    padding: 8px;
    transition: all 0.3s ease;
    display: block;

}

.hamburger-menu:hover{
    color: #000000;
}

.dropdown-Content{
    display: none;
    position: absolute;
    top:90px;
    right:0px;
    min-width:200px;
    background-color:#466A9F;
    flex-direction:column;
    z-index:99;
}

.dropdown-Content a{
    color: white;
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom:1px solid white;
}
#dropdownMenu a.active{
    color: white;
    background-color: #2a446b;
}
.dropdown-Content a:hover{
    background-color: #000000;
    color: white;
}
.dropdown-Content.show{
    display: block;
}

.main-container{
    width: 60%;
    margin: 20px auto;
}

.welcome-msg{
    text-align: left;
    margin-bottom: 30px;
}
.welcome-msg p{
    font-size: 17px;
    color: black;
    opacity: 0.8;
}
.appoinments{
    display:flex;
    flex-direction: column;
    gap: 20px;
    
}

.appointment-alert{
    width: 80%;
    background-color: #ffffff;
    padding:20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
}

.appointment-icon{
    height:60px;
    width:60px;
    font-size: 30px;
    color: #466A9F;
}
.btn{
    height: auto;
    width: 120px;
    margin-right: 10px ;
    text-decoration: none;
    text-align: center;
    padding: 8px 0;
    background-color:white ;
    color: #466A9F;
    border: 1px solid #466A9F;
    border-radius: 8px;
    font-size: 16px;
}

.appointment-alert button:hover{
    background-color: #466A9F;
    color: white;
    transition: all 0.3s ease;
}

.appointment-details{
    margin:auto;
}

.appointment-date{
    display: inline-block;
    background-color: #e3f2fd;
    color:#1f4d91;
    border-radius: 5px;
    margin-top:5px;
}


.no-appointment {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.no-appointment h2 {
    color: #464646;
    margin-bottom: 10px;
}

.no-appointment p {
    color: #585858;
    margin-bottom: 20px;
}

.no-appointment .btn {
    height: 40px;
    width: 150px;
    text-decoration: none;
    text-align: center;
    padding: 11px 0;
    background-color:white ;
    color: #466A9F;
    border: 1px solid #466A9F;
    border-radius: 8px;
    font-size: 16px;
}
#appointmentModal{
    position: fixed;
    z-index: 100;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    background-color: white;
    margin: auto;
    padding:30px;
    border-radius: 10px;
    width: 40%;
    position: relative;
}

.close-modal{
    position: absolute;
    top:15px;
    right:15px;
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}

.modal-header h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

#modalDetails p{
    font-size: 18px;
    text-align: center;
    color:rgb(39, 65, 104);
}

.cencel-apnt-success-error-msg{
    width: 80%;
    text-align: center;
    margin: 10px auto;
}