*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    background-color: #f5f7fa;
}

#navbar{
    width: 100%;
    height: 90px;
    background-color: #466A9F;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul{
    list-style: none;
    display: flex;
    gap:30px;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    
}
#navbar ul li a:hover{
    color: #000000;
}

#navbar ul li a.active{
    color: #000000;
}

.hamburger-menu{
    position: absolute;
    top: 30px;
    right:30px;
    cursor:pointer;
    font-size:22px;
    color:white;
    z-index:100;
    padding: 8px;
    transition: all 0.3s ease;
    display: block;

}

.hamburger-menu:hover{
    color: #000000;
}

.dropdown-Content{
    display: none;
    position: absolute;
    top:90px;
    right:0px;
    min-width:200px;
    background-color:#466A9F;
    flex-direction:column;
    z-index:99;
}

.dropdown-Content a{
    color: white;
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom:1px solid white;
}
#dropdownMenu a.active{
    color: white;
    background-color: #2a446b;
}
.dropdown-Content a:hover{
    background-color: #000000;
    color: white;
}
.dropdown-Content.show{
    display: block;
}

.profile-header{
    text-align: left;
    margin:20px;
}
.profile-header i h2{
    display: inline-block;
    margin: 0 10px;
}

.profile-container{
    width:70%;
    margin:auto;
}

.profile-photo-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 20px auto;
}
.profile-photo-section p{
    margin: 5px 0;
    font-size: 14px;
    color: #000000;
    opacity:0.7;
    font-weight: 600;
    margin: 20px 0;
}

.profile-photo-section h3{
    
    font-size: 20px;
    font-weight: 600;
    color: #333333;

}

.profile-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #466A9F;
}
.profile-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}

.info-form label{
    display:block;
    color:black;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;

}

.info-box{
    background-color: #f8f9fa;
    padding:12px 15px;
    border:1px solid #e9ecef;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 15px;
    opacity:0.7;
}
.btn-container{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.btn-section button{
    margin: 0 30px;
    height:40px;
    width:100px;
    border:none;
    font-size: 16px;
    background-color: #466A9F;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-section button:hover{
    background-color: #2a446b;
}
.logout a{
    text-decoration: none;
    color: white;
}

.edit-mode input {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 15px;
    color: inherit;
    padding: 0;
    margin: 0;
    outline: none;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}