*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    background-size: cover;
}
.wrapper{
    width: 400px;
    background: #466A9F;
    color: white;
    border-radius: 10px;
    padding: 25px 30px;

}

.wrapper h1{
    font-size: 30px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 35px;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid white;
    border-radius: 40px;
    font-size: 15px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
    font-size: 14px;
    padding-left: 20px;
}
.gender{
    margin: 5px 0;

}

.wrapper .gender label{
    color:white;
    cursor: pointer;
}

.wrapper .gender input{
    color:black;
    cursor: pointer;
}
.input-box-photo{
    margin: 10px 0 3px 0;
}
.wrapper .terms-conditions{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -10px 0 10px 0;
}
.terms-conditions label input{
    accent-color: white;
    margin: 5px;
    
}

.terms-conditions label{
    cursor: pointer;
}
.wrapper .btn{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: white;
    color: #333;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 550;
}

.wrapper .btn:hover{
            background: #12191f;
            color: white;
            transition: 0.5s;
}

.error-msg{
    color: #ac3f3f;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.success-msg{
    color: #24f808;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
